.containerCardsFlex{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20vh;
}
.navegacion{
    position: absolute;
    height: 6%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-left: -auto;
}
.navegacion button{
    outline: 0;
    cursor: pointer;
    background-color: #fff;
    color: #2468B1;
    border: 1px solid #2468B1;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.navegacion button:hover{
    background-color: #2468B1;
    color: #fff;
}
.containerCards {
    display: grid;
    height: auto;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(4, 23rem);
}
.blur{
    filter: blur(2px);
}
.noActive{
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    display: inline;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}   
.active{
    background-color: rgba(24, 30, 88, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 10000000;
}

.volver{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    margin: 5% 10%;
    color: rgba(24, 30, 88, 0.7);
    border-radius: 50%;
    width: 4%;
    height: 8%;
    background-color: #fff;
    cursor: pointer;
    rotate: 180deg;
}

@media (max-width: 1500px){
    .navegacion{
        position: absolute;
        height: 9%;
        top: 0;
        right: 0;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 7%;
    }
    .containerCardsFlex{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-right: 15vh;

    }
    .containerCards {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: repeat(6, 21rem);
    } 
}
@media (min-width: 1500px) and (max-width: 1700px){
    .containerCardsFlex{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-right: 28vh;

    }
    
    .containerCards {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: repeat(6, 21rem);
    } 
}
