.contain{
    position: fixed;
    display: flex;
    left: 0;
    top:10%;
    width: 30rem;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 100000;
}

@media (max-width:1500px){
    .contain{
        top:0;
    }
    .contain div{
        font-size: 0.9rem;
    } 
}
.containTypes , .containOrder , .containCreated{
    font-size: 15px;
    line-height:1px;
    text-align: left;
}
.containTypes h2 , .containOrder h2 , .containCreated h2 {
    padding: 15px 0;
    text-transform: uppercase;
}
.containTypes p , .containOrder p , .containCreated p {
    cursor: pointer;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.containTypes p:hover , .containOrder p:hover , .containCreated p:hover{
    color: #aaa;
}

.active{
    border-bottom:2px solid #2468B1 ;
    color: #2468B1;
}

.desabilitado{
    cursor: not-allowed !important;
    color: #bbb;
}