.contain{
    position: fixed;
    display: flex;
    left: 0;
    top:2.5rem;
    width: 30rem;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 100000;
}


.containTypes , .containOrder , .containCreated{
    font-size: 15px;
    line-height:1px;
    text-align: left;
}
.containTypes h2 , .containOrder h2 , .containCreated h2 {
    padding: 15px 0;
}
.containTypes p , .containOrder p , .containCreated p {
    cursor: pointer;
    padding-bottom: 10px;
}

.containTypes p:hover , .containOrder p:hover , .containCreated p:hover{
    color: #aaa;
}

.active{
    border-bottom:2px solid #2468B1 ;
    color: #2468B1;
}

.desabilitado{
    cursor: not-allowed !important;
    color: #bbb;
}