.container{
    background-color: #fff;
    width: 550px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.formImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submitButton{
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    background-color: #fff;
    color: #2468B1;
    border: 1px solid #2468B1;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 2rem;

}
.submitButton:hover{
    background-color: #2468B1;
    color: #fff;
}
.submitButtonDisable{
    font-size: 2rem;
    text-decoration: none;
    outline: 0;
    cursor: not-allowed;
    background-color: #fff;
    color: #0000004f;
    border: 1px solid #0000004f;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 10%
}
.formData p{
    line-height: 20px;
    margin: 0;
}

.imagePrevew{
    width: 300px;
    height: 300px;
    margin: 0;
}

@media (min-width: 1700px) {
    .container{
        font-size: 1.2rem;
        background-color: #fff;
        width: 880px;
        height: 880px;
    }
    .container input{
        outline: 0;
    }
    .formData{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       font-size: 1.5rem;
       text-align: left;
       margin: 0;
    }
    .imagePrevew{
        width: 400px;
        height: 400px;
        margin: 0 0 0 10%;
    }

    .range{
        width: 100%;
        display: flex;
        margin-top: 8%;
    }
    .errorHeight{
        position: absolute;
        padding-top: 1.2%;
        font-size: 0.9rem;
        color: red;
    }

    .errorName{
        position: absolute;
        font-size: 0.9rem;
        color: red; 
        padding-top: 0%;
    }

    .typeContain{
        margin-top: 8%;
    }
    .typeSelect{
        display: flex;
        width: 100%;
        
    }
    .divTypes{
        display: inline;
        color: #fff;
        padding: 3%;
        background: #2468B1;
        margin-right: 5%;
        margin-top: 5%;
        border-radius: 25px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        font-size: 1rem;
        text-transform:uppercase;
    }
    .divTypes:hover{
        background: #205288;
        
    }
    .deleteBtn{
        font-weight: bolder;
        margin-left: 10px;
        cursor: pointer;
    }

    .errorInput{
        border: 0.5px solid red;
    }
}