.conteiner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    margin: 10px 0;
    transition: all 0.2s ease;
}
.element{
    padding:12px 15px;
    margin:10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: all 0.2s ease;

}
.active{
    background-color: #2468B1;
    color: #fff;
    border: none;
}